.header-post{
  opacity: 1;
}

.wrapper-post{
}

.header-empty{
  height:80px;
}

.img-120{
  width:120%;
  margin-left:-10%;
  max-width:initial;
  box-shadow: 0 0 44px rgba($color: #000000, $alpha: 0.1);
  @media only screen and (max-width: 1278px) {
    margin-left:0;
    width:100%;
    max-width:initial;
  }
}