---
title: Zack Gemmell
summary: Zack Gemmell is product designer living and working in San Diego, California.
---


<html lang="en">
{% include head.html %}
    <body id="home" class="home">
        <header class="header">
            <div class="header-center">
                <a href="#home" class="logo">
                   Zack Gemmell
                </a>
                <nav class="header-nav">
                   <a href="#projects">Work</a>
                   <a href="#about">About</a>
                </nav>
            </div>
        </header>

        <div class="wrapper-home">
            <div class="wrapper-intro">
                <section class="intro">
                   <h1 class="intro-greeting">Hi, I'm Zack.</h1>
                   <span class="intro-bio">
                       A product designer<br>
                       focused on business<br>
                       growth through design.</span>
                </section>
                <div class="intro-scroll">
                   <div></div>
                </div>
            </div>
            <section id="projects" class="projects">
               <h2 class="home-section-title">Selected Work</h2>
               {% for post in site.posts limit: 10 %}
                   {% if post.categories contains 'work' %}
                    <a href="{{site.baseurl}}{{ post.url }}" class="tile-work">
                        <img class="tile-work-thumbnail" src="{{site.baseurl}}{{ post.thumbnail }}" alt="{{ post.thumbnailDesc }}">
                        <div class="tile-work-description">
                            <span class="tile-work-description-company">{{ post.company}}</span>
                            <h2 class="tile-work-description-title">{{ post.title }}</h2>
                            <p class="tile-work-description-summary">{{ post.summary }}</p>
                        </div>
                    </a>
                   {% endif %}
               {% endfor %}
            </section>

           
           <section id="about" class="about">
             <h2 class="home-section-title">About</h2>
             <section class="about-main">
                 <p>
                 I’m Zack Gemmell, a Lead Product Designer at Raken working on growth. I’ve been at Raken since early 2019.
                 </p>
                 <p>
                 Before joining Raken, I was co-founder at Code Cartel and was responsible for designing a wide range of client projects.
                 </p>
                 <p>
                 I'm most passionate about mobile product, but have extensive experience across web and desktop too. I'm interested in developing design systems and working closely with developers to produce quality digital products.
                 </p>
                 <p>
                 When I'm not working, I enjoy coding and mentoring aspiring designers.
                 </p>
                 <p>
                 The best way to reach me is via
                     <a href="https://www.linkedin.com/in/zackgemmell" target="_blank">
                         LinkedIn.
                     </a>
                 </p>
             </section>

           </section>
           {% include footer.html %}
        </div>

        {% include scripts.html %}
    </body>
</html>
